h1,
h2,
h3,
p,
ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.profile {
    width: 240px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #DCDCDC;
    margin-top: 15px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 240px;
    background-color: #FFFFF0;
    border-bottom: 1px solid #DCDCDC;
}

.avatar {
    width: 150px;
    border-radius: 75px;
    margin: 20px 0;
    background-color: white;
}

.name {
    margin-bottom: 5px;
    font-size: 18px;
}

.tag {
    margin-bottom: 5px;
}

.location {
    margin-bottom: 20px;
}

.stats {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.item {
    border-right: 1px solid #DCDCDC;
    background-color: #D3D3D3;
    height: 50px;
    padding: 15px 0;
}

.item:last-child {
    border: none;
}




